
@mixin CenterFlex(){
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;
}

@mixin AlinkButton($color, $bg, $radius){
   margin-top: 1.5rem;  // 15px
   padding: 1rem 2rem;  // 10px 20px
   font-size: 1.6rem;
   
   display: inline-block;

   color: $color;
   background-color: $bg;
   border-radius: $radius;

   &:hover {
      opacity: 0.9;
   }

}