doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Web Control's ...

      link(rel="stylesheet", href="../css/index.css")
      script(src="../js/index.js" defer) 
   body 
      include ./controls/loader  
      include ./controls/buttons 

      header.header 
         nav.nav 
            ul 
               li 
                  a(href="")  Loader 
      
      section#loader.loader 
         .loder-container 
            //- +CircleLoader()
            //- +TextLoader()
            +SpanLoader()

      section.main 
         h1 Welcome to my Site 
         p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde magni temporibus nihil quaerat quas quia quasi illum accusamus voluptatibus blanditiis.
         +Button("#", "Read More")

                  