mixin CircleLoader()
   .circle-loader.loader 
      .circle 
      .circle 

mixin TextLoader()
   .text-loader.loader Loading

mixin SpanLoader()
   .span-loader.loader 
      span 
      span 
      span 